# Ignore folders
RL_models/PPO_Model/training_progress_detailed/
RL_models/PPO_Model/PPO_saved_models/
RL_models/PPO_Model/training_progress_detailed_parallel/
RL_models/PPO_Model/PPO_saved_models_parallel/
RL_models/PPO_Model/opponent_pool/
RL_models/PPO_Model/opponent_pool_parallel/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Environment / IDE
.env
.venv/
*.egg-info/
dist/
build/